.VSCodeCounter
.vscode/settings.json
test/workshop*.jl
# Ignore downloaded MATPOWER cases
data/mpower/*.m
data/mpower/*.jl
data/mpower/result_*
docs/build
TODO.md
Roadmap.md
network_dump.txt
test/test_experments.jl
test/test_experment.jl
*.log
*.png
julia-*.tar.gz
examples/*.yaml
examples/*.png
docs/src/ybus_diagonal_sparlectra.md
auswertung_case25k_performance_2026-05-17.md

# Ignore local Sparlectra user configuration
examples/configuration.yaml
examples/_out/
